hydra:
  searchpath:
    - pkg://verl/trainer/config

defaults:
  - ppo_trainer
  - _self_

ray_init:
  num_cpus: 8
  object_store_memory: 2000000000  # 2GB object store

agentflow:
  port: 9999

data:
  filter_overlong_prompts: false

actor_rollout_ref:
  rollout:
    mode: async
    agent:
      custom_async_server:
        path: pkg://agentflow.verl.async_server
        name: PatchedvLLMServer
